name: Test

on: [push, pull_request]

jobs:
  build-and-test:
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. Without this if check, checks are duplicated since
    # internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          python-version: ${{ matrix.python-version }}

      - name: Show conda installation info
        run: |
          conda info
          conda list

      - name: Install requirements
        run: |
          conda install --file=requirements-build.txt --file=requirements-library.txt --file=requirements-testing.txt
          conda list

      - name: Build and install package
        run: |
          pip install -e .

      - name: Test
        run: |
          python -c 'import pymt_era5'

# future test to add bmi-test pymt_roms.bmi:Roms -vvv

#     Future test using bmi-test, this test will fail now because get start time is
#     supposed to be 0.0 from bmi-tester, but era5 follows CF time value
#     - name: Test bmi-test
#        if: matrix.os != 'windows-latest'  # Skip this step on Windows
#        working-directory: ${{github.workspace}}/notebooks
#        run: |
#          bmi-test pymt_era5.bmi:Era5 --config-file=config_file.yaml --root-dir=. -vvv